<!-- <ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/veggie4.jpg" alt="Carousel One">
        </div>
        <div class="carousel-caption">
          <h5>InstaSMart</h5>
          <p>For best shopping experience.....</p>
          <p>Shop with us :-)</p>
        </div>

    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/veggie3.jpg" alt="Carousel Two">
        </div>
        <div class="carousel-caption">
          <h5>Best Food Here</h5>
          <p>Don't limit youself</p>
          <p>Buy our vegetables</p>
          <p>And</p>
          <p>Make your home happy</p>

        </div>
    </ng-template>

    <ng-template ngbSlide>

        <div class="picsum-img-wrapper">
            <img src="../../assets/veggie2.jpg" alt="Carousel Three">
        </div>
        <div class="carousel-caption">
          <h5>Amazing taste</h5>
          <p>U will loved it</p>
          <p>So Enjoy</p>
        </div>
    </ng-template>


    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/veggie5.jpg" alt="Carousel Three">
        </div>
        <div class="carousel-caption">
            <h5>Amazing taste</h5>
            <p>U will loved it</p>
            <p>So Enjoy</p>
        </div>

    </ng-template>

    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/veggie.jpg" alt="Carousel Three">
        </div>
        <div class="carousel-caption">
            <h5>Amazing taste</h5>
            <p>U will loved it</p>
            <p>So Enjoy</p>
        </div>
    </ng-template> -->




    