
<html>
    <body>



<br>
        <h3 style="text-align: center;"><u>About US</u></h3>
<p style="text-align: center;text-align: justify;width: 50%;
margin-left: 90px;margin-top: 40px;color: rgb(2, 2, 1);
font-weight: bold;float: left;">
    InstaSMart is a shopping site that has a huge stock of a variety of items in 
    different sections like Electronic, Food ,Clothing etc. The App also provide peoples to order from anywhere.
<br><br>
    InstaSMart offers discounts on different occasions. It has several filters so that 
    you can order according to your preference. The customer reviews are fairly good about 
    InstaSMart goods.</p>
  

<div style="background-image: url('../../assets/shoppping.jpeg'); background-size: cover;
   height:300px;width: 300px; padding-top:80px;float: right;margin-right: 150px;margin-top: 150px;">
</div>

</body>
</html>
