

<!-- <div class ="con" style="text-align: center;"> -->
    <!-- <h1 class="well">Submit Feedback</h1> -->
    <!-- <div class="container">
    <div class="col-md-5">
    <div class="form-area"><form role="form"><br style="clear: both;">
    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
    <div class="form-group"><input id="name" class="form-control" name="name" required="" type="text" placeholder="Name"></div>
    <div class="form-group"><input id="email" class="form-control" name="email" required="" type="email" placeholder="Email"></div>
    <div class="form-group"><input id="mobile" class="form-control" name="mobile" required="" type="phone" placeholder="Mobile Number"></div>
    <div class="form-group"><input id="subject" class="form-control" name="subject" required="" type="text" placeholder="Subject"></div>
    <div class="form-group"><textarea id="message" class="form-control" maxlength="140" name="message" rows="7" placeholder="Message"></textarea></div>
    <button id="submit" class="btn btn-primary pull-right" name="submit" type="button">Submit Form</button></form></div>
    </div>
    </div>
    </div> -->




    <br>
    <div class=" container bgimage">
        <div class="container w-50 ">
        <form action="action_page.php">
    
          <label for="fname"><b>First Name</b></label>
          <input type="text" id="fname" name="firstname" placeholder="First name.." >
          <label for="lname"><b>Last Name</b></label>
          <input type="text" id="lname" name="lastname" placeholder= "last name.." >
          <label for="email"><b>Email</b></label>
          <input type="text" id="email" name="email" placeholder= "email..">
    
     
    
          <label  for="store"><b>Enter Store Name</b></label>
          <select id="storename" name="storename" placeholder= "Store Name.." >
            <option value="hyderbad">Hyderbad</option>
            <option value="bangalore">Bangalore</option>
            <option value="delhi">Delhi</option>
          </select>
    
     
    
          <label for="comments"><b>Comments</b></label>
          <textarea id="comments" name="comments" placeholder="Write your comments.." style="height:200px" ></textarea>
          <input type="submit" value="Submit">
    
        </form>
      </div>
    </div>