.navbar-brand{
    font-size: 25px;
    color:black ;
    font-weight: bold;
}
.navbar-brand a:hover{
    color: red;
}
.navbar {
    background-color: green;
}

#but{
    margin-left: 320px;
}

/* ============== */


.navbar{
    height: 60px;
}


